html,body{
    height:100dvh;
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.border-line{
    border : 1px solid coral;
}

#basic-wrapper{
    width: 100%;
    display: flex;
    font-family: '맑은 고딕';
}

#sidebar-wrapper{
    background-color: black;
}

/* Side NavBar */
#sidebar{
    height:100dvh;
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    position: fixed;
    padding: 2.5rem 1.8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: -0.05rem;
    word-spacing: -0.1rem;
}

    #sidebar a span{
        margin-left: 0.5rem;
    }

    #sidebar>#logo-img{
        border-radius: 10%;
        width: 6rem;
        height: 6rem;
    }  

    #sidebar nav{
        margin-top: 1rem;
        justify-content: space-between;
        height: 20rem;
        text-align: start;
      
    }

        #sidebar nav a{
            color: black;
            padding: 0;
        }

    #sidebar>a{
        margin-top: 4rem;
    }  

   



/* Main */
#main-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
    padding: 30px 80px;
}

/* Footer */
footer{
    margin-top: 3rem;
    font-weight: bold;
    text-align: center;
    color: rgb(134, 134, 134);
}
