#orLine{
    display:flex; 
    justify-content: space-evenly;
    margin-top: 1rem;
}
/* hr{
	border:1px silver solid; 
}
 */
#hrLine{
	width: 45%;
}
#hrLine>span{
	width: 150px; 
	text-align:center;
}

#email,#name,#nickName,#password,#passwordCk{
    height: 3rem;
}